
#choropleth_map {
    width: 100vw;  /* Full viewport width */
    height: 90vh;  /* 90% of viewport height */
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
  }