body * {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
  font-family: 'Berkshire Swash', cursive; 
}

h2 {
  font-family: 'Rozha One', serif; 
  font-size: 24px;  
}

body {
  background-color: beige;
}

.page {
  width: 950px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
  max-width: 100%;  /* Ensures that the chart doesn't exceed the container width */
  overflow: hidden; /* Hides any overflow if there is extra space */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.vis-container-shadow {
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.3);  /* More balanced shadow */
  padding: 10px;  /* Add padding inside the shadow */
  background-color: white;  /* Ensure white background for the visualization */
}

.explanation {
  margin-top: 10px; /* Adding more spacing between the chart and explanation */
  padding-top: 0; /* Ensure there's no padding on the top */
}

.description h2,
h1 {
  margin-top: 0px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

.africa {
  color: #393b79; /* Africa color */
  font-weight: 900; /* Stronger bold */
}

.americas {
  color: #5254a3; /* Americas color */
  font-weight: 900; /* Stronger bold */
}

.east-asia {
  color: #6b6ecf; /* East Asia and the Pacific color */
  font-weight: 900; /* Stronger bold */
}

.europe {
  color: #9c9ede; /* Europe color */
  font-weight: 900; /* Stronger bold */
}

.middle-east {
  color: #637939; /* Middle East color */
  font-weight: 900; /* Stronger bold */
}

.other {
  color: #8ca252; /* Other color */
  font-weight: 900; /* Stronger bold */
}

.south-asia {
  color: #b5cf6b; /* South Asia color */
  font-weight: 900; /* Stronger bold */
}