:root {
    --chart-bg: #f1f0f3;
    --chart-border: #f1f0f3;
    --contrast-color: #264653;
    --link-color: #3498db;
    --page-color: #f1f0f3;
    --text-color: #15191e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem; /* Base font size using rem */
    font-weight: 400;
}

.chart {
    align-items: center;
    background-color: var(--chart-bg);
    color: var(--text-color);
    cursor: pointer;
    font-size: 0.8rem;
    height: auto;
    justify-content: center;
    min-height: 20vh; /* Use viewport height for responsiveness */
    opacity: 1;
    padding-right: 2rem; /* Adjust padding to rem */
    width: 100%;
}

.divider {
    background-color: var(--contrast-color);
    flex-grow: 1;
    height: 0.6rem;
    margin-top: 0.5rem;
}

.explanation {
    margin-top: 0.5rem;
    padding-top: 0;
}

.explanation-breakdown {
    margin-top: 0;
    padding-top: 0;
}

.flex-column {
    border: 1px solid var(--chart-border);
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--contrast-color);
    font-size: 3rem; /* Responsive font size */
    font-weight: 700;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.25rem; /* Responsive font size */
    font-weight: 400;
    margin-bottom: 1.5rem;
}

h3 {
    color: var(--contrast-color);
    font-family: 'Rozha One', serif;
    font-size: 1.8rem; /* Keep as is */
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
}

h4 {
    align-self: center;
    color: var(--contrast-color);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.page {
    background-color: var(--page-color);
    margin: 0 auto;
    max-width: 1100px;
    padding: 2rem;
}

.subsection {
    background-color: var(--chart-bg);
    border: 1px solid var(--chart-border);
    border-radius: 8px;
    display: flex;
    padding: 1rem; /* Add padding for better spacing */
}

.subsection-title {
    align-items: center;
    display: flex;
    margin: 1.5rem 0;
}

.title {
    background-color: #F4F4F9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Berkshire Swash', cursive;
    margin: 2rem auto;
    text-align: center;
}

.two-charts {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: 1.5rem;
}

.two-charts p {
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.two-charts .subsection {
    flex: 1;
    width: 48%;
}

.two-columns {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin-top: -2rem;
    padding: 0 1.5rem;
    width: 100%;
}

.three-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px; /* Space between the columns */
}

.explanation-left {
    flex: 1;
    padding: 20px;
    text-align: left;
    background-color: var(--chart-bg);
    border-radius: 8px;
    border: 1px solid var(--chart-border);
    padding-top: 40px;
}

.explanation-right {
    flex: 1;
    padding: 20px;
    text-align: left;
    background-color: var(--chart-bg);
    border-radius: 8px;
    border: 1px solid var(--chart-border);
}

.radial-plot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--chart-border);
    width: 33%; /* Width of the radial plot container */
}

.data-sources{
    font-style: italic;
}

footer {
    background-color: #264653; /* Dark background color */
    color: #cecece; /* Light text color */
    text-align: center; /* Center the text */
    padding: 20px; /* Padding inside the footer */
    font-size: 0.9rem; /* Adjust font size */
    max-width: 1100px; /* Match the max-width of the content */
    margin: 0 auto; /* Center align the footer */
    position: relative; /* Keep it at the bottom of the content */
    bottom: 0; /* Align at the bottom */
}

footer p {
    margin-top: 0.1rem;
    font-size:x-small;
}

footer a {
    color: var(--link-color); /* Change link color */
    text-decoration: none; /* Remove underline from links */
}